.body {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.app {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

.home {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.welcome {
  width: 100%;

  height: 100%;
  background-color: #FFFFFF;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.left_align {
  float: left;
}

.right_align {
  float: right;
}

.componentShow {
  display: block;
  visibility: visible;
}

.componentHide {
  display: none;
  visibility: hidden;
}

.editarButton {
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  background: data-uri('../images/edit.png') no-repeat center center;
}

.buscarButton {
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  background: data-uri('../images/search.png') no-repeat center center;
}

.nuevoButton {
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  background: data-uri('../images/plus.png') no-repeat center center;
}

.newButton {
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  background: data-uri('../images/new.jpg') no-repeat center center;
}

.informeButton {
  width: 32px;
  height: 32px;
  border: none;
  background: data-uri('../images/informe.jpg') no-repeat center center;
}

.detalleButton {
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  background: data-uri('../images/trash.png') no-repeat center center;
}

.detailButton {
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  background: data-uri('../images/details.png') no-repeat center center;
}

.closeButton {
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  background: data-uri('../images/close.png') no-repeat center center;
}

.saveButton {
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  background: data-uri('../images/save.png') no-repeat center center;
}

.trHeader {
  background-color: #5cb85c;
}

.headerDiv {
  width: 100%;
  height: 15%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.footerDiv {
  width: 100%;
  height: 5%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.homeDiv {
  width: 100%;
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}

.headerMain {
  width: 100%;
  height: 100%;
}

.footerMain {
  width: 100%;
  height: 100%;
}

.clinicLogo {
  width: 33.33%;
  height: 50%;
  background: data-uri('../images/logoClinicSoft.png') no-repeat left center;
  background-size: contain;
}

.salirButton {
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  background: data-uri('../images/exit_blue.png') no-repeat center center;
}

.headerCenter {
  width: 66.66%;
  height: 50%;
}

.menuHeader {
  width: 100%;
  height: 50%;
}

.headerSalir {
  width: 33.33%;
  height: 50%;
}

.menuItem {
  float: left;
  margin: 10px;
  width: 22%;
  height: 94%;
}

.menuItemGestionMedicamento {
  border: none;
  background: data-uri('../images/iconoGestionMedicamento.jpg') no-repeat center center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.menuItemGestionMedicos {
  border: none;
  background: data-uri('../images/iconoGestionMedicos.jpg') no-repeat center center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.menuItemGestionPacientes {
  border: none;
  background: data-uri('../images/iconoHistorial.jpg') no-repeat center center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.menuItemGestionCitas {
  border: none;
  background: data-uri('../images/icon_citas.jpg') no-repeat center center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.homeButton {
  width: 32px;
  height: 32px;
  border: none;
  background: data-uri('../images/home.png') no-repeat center center;
}

.groupTop {
  padding-top: 5px;
}

.inputLabelRight {
  width: '50%';
  text-align: 'right';
  padding-right: '10px';
}

.panelScroll {
  overflow-y: scroll;
  height: 233px;
}

.panelScrollDashboard {
  overflow-y: scroll;
}

.panelScrollDetalle {
  overflow-y: scroll;
  height: 233px;
}

.overflowXauto {
  overflow-x: auto;
}

.mexico_flag {
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  background: data-uri('../images/mexico_flag.png') no-repeat center center;
}

.united_states_flag {
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  background: data-uri('../images/united_states_flag.png') no-repeat center center;
}

.okButton {
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  background: data-uri('../images/ok.png') no-repeat center center;
}

.cornerBottomRight {
  width: 16px;
  height: 16px;
  border: none;
  cursor: se-resize;
  position: absolute;
  bottom: 0;
  right: 0;
  background: data-uri('../images/corner_bottom_right.png') no-repeat center center;
}

.graficPie {
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  background: data-uri('../images/chart_pie.png') no-repeat center center;
}

.grafic3d {
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  background: data-uri('../images/chart_3d_bar.png') no-repeat center center;
}
.grafic2d {
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  background: data-uri('../images/icon_indicator_v3.png') no-repeat center center;
}

.table-bordered-aux th,
  .table-bordered td {
    border: 1px solid #ddd !important;
}

.table-hover-aux > tbody > tr:hover {
  background-color: #f5f5f5;
}

.table-bordered-dash {
  background-color: #7FB3D5;
}

.table-bordered-dashDos {
  background-color: #A9CCE3;
}
