@media screen and (min-width: 0px) and (max-width: 767px) {

  .card-container.card {
      max-width: 100%;
      padding: 2% 2%;
  }

  .popUpClass {
    text-align: left;
    position: fixed;
    top: 20%;
    left: 6%;
    right: 7%;
    margin: auto;
  }

  .popUpClassMedicament {
    text-align: left;
    position: fixed;
    top: 7%;
    margin: auto;
  }
}
