@media screen and (min-width: 768px) and (max-width: 1280px) {

  .card-container.card {
      max-width: 50%;
      padding: 2% 2%;
  }

  .popUpClass {
    text-align: left;
    position: fixed;
    top: 10%;
    left: 25%;
    right: 26%;
    margin: auto;
  }

  .popUpClassMedicament {
    text-align: left;
    position: fixed;
    top: 10%;
    left: 12%;
    right: 23%;
    down:  10%;
    margin: auto;
  }

  .popUpClassDetalles {
    text-align: left;
    position: fixed;
    top: 10%;
    left: 12%;
    right: 10%;
    down:  10%;
    margin: auto;
  }

  .popUpClassPersonal {
    text-align: left;
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    margin: auto;
  }

  .panelForm {
    width: 50%
  }
}
