@media screen and (min-width: 1024px) {

  .card-container.card {
      max-width: 40%;
      padding: 2% 2%;
  }

  .popUpClass {
    text-align: left;
    position: absolute;;
    top: 10%;
    left: 26%;
    right: 23%;
    margin: auto;
  }

  .popUpClassMedicament {
    text-align: left;
    position: absolute;;
    top: 10%;
    left: 12%;
    right: 23%;
    down:  10%;
    margin: auto;
  }

  .popUpClassDetalles {
    text-align: left;
    position: absolute;
    top: 10%;
    left: 12%;
    right: 10%;
    down:  10%;
    margin: auto;
  }

  .popUpClassPersonal {
    text-align: left;
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    margin: auto;
  }

  .panelForm {
    width: 50%
  }

  .languaje_scale {
    width: 100%;
    margin-left: 93%;
  }

  .languaje_scale_header {
    padding-left: 41%;
  }
}
