.app {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

.home {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.welcome {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.left_align {
  float: left;
}

.componentShow {
  display: block;
  visibility: visible;
}

.componentHide {
  display: none;
  visibility: hidden;
}

.editarButton {
  width: 24px;
  height: 24px;
  border: none;
  background: data-uri('../images/edit.png') no-repeat center center;
}

.buscarButton {
  width: 32px;
  height: 32px;
  border: none;
  background: data-uri('../images/search.png') no-repeat center center;
}

.nuevoButton {
  width: 32px;
  height: 32px;
  border: none;
  background: data-uri('../images/plus.png') no-repeat center center;
}

.trHeader {
  background-color: yellow;
}
